/* 
Manera en la que se selecciona algo por ID
*/
#titulo{
    color: tomato;
}

/*Manera de elegir classe dentro de etiquetas*/
p.texto{
    color: blueviolet;
}

p.especial{
    color: orange;
}
/*Selector de p dentro de un div*/
div p{
    color: aquamarine;
}
div h2, div h3{
    color: brown;
}

/*Selector global*/
* {
    font-size: 34;
    font-family: "Open Sans", sans-serif;

    /* color: black; */
}

/*
COLOR POR HEXA
.color{
    color: #aa1a60;
}
*/
/*COLOR POR RGB*/
.color{
    color: rgb(200, 100, 30);
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1rem;
    /* border: 5px rgb(105, 69, 69) outset; */
    padding: 20px;
    margin: 0px 30px;
    text-align: center;
}

#fondo{
    background-color: rgba(255, 0, 0);
    /* opacity: 0.4; */
    height: 400px;
    background-image: url('cover.webp');
    background-size: contain;
}

#margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 10px;
    border: 1px black solid;
    outline: 1px red solid;

}
.text{
    font-size: 50px;
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 2px 5px gray;
}
a:link{
    color: orange;
}
a:visited{
    color: green;
}
a:hover{
    color: red;
}

a:active{
    color: aqua;
}

ul{
    background-color: gray;
    /* list-style-position: inside; */
    list-style-type: georgian;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th, td{
    border: solid 1px lightblue;
    padding: 5px;

}

tr:nth-child(even){
    background-color: lightcyan;
}

th{
    background-color: lightcoral;
    text-align: left;
    color: white;
}

tr:hover{
    cursor: pointer;
    background-color: #AAA;
}

span {
    display: block;
    /* display: none; */
    /* visibility: hidden;*/
    max-width: 300px;
    background-color: chocolate;
} 

.inline{
    display: inline;
}

#position{
    position: sticky;
    left: 20px ;
    top: 25px;
}

.left{
    float: left;
    width: 200px;
    height: 200px;
}

.right{
    float: right;
}

.container{
    height: 200px;
}

.column{
    margin: 0;
    padding: 10px 0px;
    width: 33%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: azure;    
}

.center{
    padding: 50px 0px;
    width: 200px;
    margin: 0 auto;
    background-color: cornflowerblue;
    text-align: center;
}